* {
    margin: 0;
    padding: 0;
  }
  
  @font-face {
    font-family: "OpenSans-Regular";
    src: url(fonts\OpenSans-Regular.woff);
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: "OpenSans-Bold";
    src: url(fonts\OpenSans-Bold.woff);
    font-weight: 700;
    font-style: normal;
  }

  @media (max-width: 640px) {
    .content {
      flex-direction: column;
      padding-left: 15px;
      padding-right: 15px;
    }
    .menu-list {
      display: none;
    }

    .header-title {
      width: auto;
    }

    .news-item {
      flex-direction: column;
    }

    .news-item:nth-child(n+1)::after {
      content: "";
      display: block;
      height: 3px;
      width: 100%;
      margin: 19px auto 42px auto;
      background-color: #eeeeee;
    }

    .trend-list {
      flex-direction: column;
    }

    .product-blocks {
      flex-direction: column;
      align-items: center;
    }

    .product-block {
      width: 100%;
      margin-left: 4%;
    }

    .product-block:nth-child(n+2) {
      margin-top: 27px;
    }
  }

  @media (max-width: 640px) and (orientation: portrait) {
    .trend-block-img {
      width: 100%;
    }
  }

  @media (max-width: 640px) and (orientation: landscape) {
    .trend-block-img {
      width: 50%;
    }

    .trend-block-img:nth-child(n+2) {
      margin-left: 1%;
    }
  }

  @media (min-width: 641px) and (max-width: 1200px) {
    .menu-list {
      display: none;
    }

    .header-menu-logo {
      margin-left: 35px;
      margin-right: 35px;
    }

    .menu-button {
      align-items: flex-end;
    }

    .header-title {
      width: 679px;
    }

    .trend-list {
      flex-wrap: wrap;
    }

    .content {
      padding-left: 35px;
      padding-right: 35px;
    }

    .trend-item-name-link {
      font-size: 17px;
    }

    .news-item {
      flex-wrap: wrap;
      width: 100%;
      margin-top: 0;
    }

    .news-item:nth-child(n+1):nth-child(-n+4)::after {
      content: "";
      display: block;
      height: 3px;
      width: 100%;
      margin: 19px auto 42px auto;
      background-color: #eeeeee;
    }

    .news-item-image {
      width: 100%;
    }

    .news {
      width: 70vh;
    }

    .product-block {
      width: 45%;
      margin-left: 4%;
    }

    .product-block:nth-child(n+3) {
      margin-top: 28px;
    }

    .side-content {
      padding-left: 35px;
      width: 33.5%;
    }

    .news-item-info {
      margin-top: 17px;
    }

    .product-blocks {
      flex-wrap: wrap;
    }
  }

  @media (min-width: 641px) and (max-width: 1200px) and (orientation: portrait) {
    .trend-block-img {
      width: 45%;
    }

    .trend-block-img:nth-child(2n + 2) {
      margin-left: 10%;
    }
  }

  @media (min-width: 641px) and (max-width: 1200px) and (orientation: landscape) {
    .trend-block-img {
      width: 24.25%;
    }

    .trend-block-img:nth-child(n+2) {
      margin-left: 1%;
    }
  }

  @media (min-width: 1201px) {
    .menu-button {
      display: none;
    }

    .content {
      min-width: 1200px;
      padding-left: 15px;
    }

    .header-title {
      width: 679px;
    }

    .news {
      width: 778px;
    }

    .news-item:nth-child(n + 2) {
      margin-top: 59px;
    }

    .trend-item-name-link {
      font-size: 24px;
    }

    .product-block {
      width: 24%;
      margin-left: 4%;
    }

    .side-content {
      margin-left: 120px;
      padding-right: 15px;
      width: 272px;
    }

    .news-item-info {
      box-sizing: border-box;
      margin-left: 30px;
      padding-top: 0;
    }

    .header-menu-logo {
      min-width: 1200px;
      margin-left: auto;
      margin-right: auto;
    }

    .social-networks {
      width: 1170px;
    }
  }
  
  .bold {
    font-family: "OpenSans-Bold";
  }
  
  .regular-font {
    font-family: "OpenSans-Regular";
  }
  
  .header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
    background-image: url(file:///C:/Users/NNCherepanov/Desktop/diplom%20-2/img/banner-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: 1;
    padding-top: 28px;
    padding-bottom: 147px;
  }
  
  .header:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #000000;
    opacity: 0.5;
    z-index: -1;
  }
  
  .header-menu-logo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .logo {
    width: 179px;
  }
  
  .header-blog {
    display: flex;
    text-transform: uppercase;
    font-size: 45px;
    line-height: 75px;
    color: #ffffff;
    margin-top: 127px;
    justify-content: center;
  }
  
  .header-title {
    font-size: 45px;
    text-align: center;
  }
  
  .menu {
    display: flex;
    right: 245px;
    list-style: none;
    font-size: 13px;
    color: #ffffff;
  }

  .menu-button {
    position: relative;
    border: none;
    width: 1.4em;
    height: 1em;
    cursor: pointer;
    text-indent: -9999px;
    background-color: transparent;
    padding: 0;
    font-size: 25px;
  }

  .menu-button:before, .menu-button:after {
    content: "";
    width: 100%;
    height: 20%;
    border-radius: 5px;
    background-color: #ffffff;
    position: absolute;
    left: 0;
  }

  .menu-button:before {
    top: 0;
  }

  .menu-button:after {
    bottom: 0;
  }

  .menu-button-label {
    width: 100%;
    height: 20%;
    margin-top: -0.1em;
    border-radius: 5px;
    background-color: #ffffff;
    position: absolute;
    left: 0;
    top: 50%;
  }
  
  .menu-list-item {
    display: inline-block;
    text-transform: uppercase;
  }
  
  .menu-list-item:nth-child(n + 2) {
    margin-left: 35px;
  }
  
  .menu-link {
    color: #ffffff;
    text-decoration: none;
  }

  .trend {
    display: flex;
    flex-direction: column;
    margin-top: 64px;
  }
  
  .trend-name {
    font-size: 20px;
    color: #0f0d0e;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
  }
  
  .trend-name:after {
    content: "";
    display: block;
    height: 3px;
    width: 67px;
    margin: 14px auto 28px auto;
    background-color: #e1d9bd;
  }

  .trend-list {
    display: flex;
  }

  .trend-block-img {
    display: flex;
    align-items: flex-end;
    position: relative;
  }

  .trend-block-img:before {
    content: "";
    position: absolute;
    height: 99%;
    width: 99%;
    top: 0;
    background-color: #000000;
    opacity: 0.5;
    z-index: 2;
  }

  .trend-img {
    position: relative;
    z-index: 1;
    width: 100%;
  }

  .trend-img:nth-child(n + 1):nth-child(-n+3) {
    margin-right: 4px;
  }

  .trend-block {
    position: absolute;
    border: 3px solid #93855c;
    margin: 0 22px 16px 22px;
    z-index: 3;
  }

  .article-trend-link {
    margin-right: 20px;
    font-size: 14px;
    color: #b59f5b;
    text-decoration: none;
  }

  .article-trend {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-transform: uppercase;
    font-weight: bold;
  }

  .trend-item-name {
    text-transform: uppercase;
    font-weight: bold;
    line-height: 24px;
    margin-top: 10px;
  }

  .trend-item-name-link {
    color: #ffffff;
    text-decoration: none;
  }

  .content {
    display: flex;
    margin-top: 64px;
    justify-content: center;
  }
  
  .news-item {
    display: flex;
  }
  
  .news-item-image {
    box-sizing: border-box;
    width: 381px;
    position: relative;
  }
  
  .news-item-image:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 294px;
    top: 0;
    left: 0;
    background-color: #eff6f1;
    opacity: 1;
    z-index: -1;
  }
  
  .article-tags {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-transform: uppercase;
    font-weight: bold;
  }
  
  .article-tag-link {
    margin-right: 20px;
    font-size: 14px;
    color: #b59f5b;
    text-decoration: none;
  }
  
  .article-tag-link:nth-last-child(n + 2) {
    margin-right: 15px;
  }
  
  .news-item-name {
    text-transform: uppercase;
    font-weight: bold;
    line-height: 24px;
    margin-top: 10px;
  }
  
  .news-item-name-link {
    color: #0f0d0e;
    font-size: 20px;
    text-decoration: none;
  }
  
  .news-item-time {
    font-size: 12px;
    color: #888888;
  }
  
  .news-item-author {
    display: inline-block;
    margin-top: 10px;
    margin-left: 14px;
    font-size: 12px;
    color: #000000;
  }
  
  .news-item-description {
    font-size: 15px;
    margin-top: 44px;
    line-height: 22px;
    color: #0f0d0e;
  }
  
  .news-posts {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    color: #0f0d0e;
    text-align: center;
  }
  
  .news-posts:after {
    content: "";
    display: block;
    height: 3px;
    width: 66px;
    margin: 14px auto 29px auto;
    background-color: #e1d9bd;
  }
  
  .post {
    display: flex;
  }
  
  .post:nth-child(n + 2) {
    margin-top: 22px;
  }
  
  .post-image {
    position: relative;
    margin-right: 18px;
  }
  
  .post-image:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 50%;
    top: 0;
    left: 0;
    background-color: #f4f7f6;
    opacity: 1;
    z-index: -1;
  }
  
  .post-info {
    box-sizing: border-box;
    margin-left: 15px;
    margin-left: 0;
  }
  
  .post-time {
    font-size: 12px;
    color: #000000;
  }
  
  .post-title {
    line-height: 18px;
    text-transform: uppercase;
  }
  
  .post-title-link {
    color: #000000;
    font-size: 14px;
    text-decoration: none;
  }
  
  .search {
    display: flex;
    flex-direction: row;
    margin-top: 60px;
    position: relative;
    margin-left: 1px;
    justify-content: flex-end;
  }

  .search-group {
    width: 100%;
  }
  
  .visually-hidden {
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute;
  }
  
  .field {
    box-sizing: border-box;
    padding-left: 14px;
    width: 100%;
    height: 48px;
    border: none;
    background-color: #f4f7f6;
    font-size: 13px;
    padding-left: 14px;
    padding-right: 53px;
  }
  
  .button-search {
    width: 48px;
    height: 48px;
    border: none;
    background-color: #b59f5b;
    position: absolute;
    right: 0;
  }

  .button-search-svg {
    height: 18px;
    width: 18px;
    fill: #ffffff;
  }
  
  .mailing-text {
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 62px;
    text-align: center;
    font-size: 14px;
    color: #0f0d0e;
  }
  
  .mailing-text:after {
    content: "";
    display: block;
    height: 3px;
    width: 66px;
    margin: 14px auto 23px auto;
    background-color: #e1d9bd;
  }
  
  .mailing {
    display: flex;
    flex-direction: column;
    margin-top: 23px;
    margin-left: 1px;
  }
  
  .button {
    width: 100%;
    height: 48px;
    color: #ffffff;
    border: none;
    background-color: #b59f5b;
    margin-top: 15px;
    text-transform: uppercase;
  }
  
  .block-tags {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  
  .tag-title {
    display: inline-block;
    padding: 60px 0 0px 120px;
    font-size: 14px;
    color: #0f0d0e;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .tag-title:after {
    content: "";
    display: block;
    height: 3px;
    width: 66px;
    margin: 14px 0 24px -14px;
    background-color: #e1d9bd;
  }
  
  .tags {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }
  
  .tag-link {
    display: inline-block;
    font-size: 12px;
    color: #0f0d0e;
    text-decoration: none;
    border: 3px solid #ededed;
    padding: 7px 10px;
    margin-right: 6px;
    margin-top: 6px;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .tag-link:nth-child(n + 4) {
    margin-top: 6px;
  }
  
  .topics {
    list-style: none;
  }
  
  .topics-title {
    display: inline-block;
    padding: 61px 0 0px 118px;
    font-size: 14px;
    color: #0f0d0e;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .topics-title:after {
    content: "";
    display: block;
    height: 3px;
    width: 66px;
    margin: 14px 0 26px -12px;
    background-color: #e1d9bd;
  }
  
  .topics {
    display: inline;
  }
  
  .topic {
    border-bottom: 1px solid #eeeeee;
    padding-top: 14px;
    padding-bottom: 14px;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .topic-link {
    font-size: 14px;
    color: #000000;
    text-decoration: none;
  }
  
  .articles {
    color: #b59f5b;
    font-size: 12px;
    vertical-align: super;
  }

  .products {
    display: flex;
    flex-direction: column;
    margin-top: 64px;
  }

  .products-header {
    font-size: 20px;
    color: #0f0d0e;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
  }
  
  .products-header:after {
    content: "";
    display: block;
    height: 3px;
    width: 67px;
    margin: 10px auto 28px auto;
    background-color: #e1d9bd;
  }

  .product-block {
    display: flex;
    flex-direction: column;
  }

  .product-blocks {
    display: flex;
    justify-content: center;
    position: relative;
  }

  .product-body {
    display: flex;
    border: 3px solid #d3c59d;
    z-index: 1;
    position: relative;
    padding: 50px 21px 26px 21px;
    margin-top: -35px;
    flex-direction: column;
    flex-grow: 1;
  }

  .product-title {
    text-transform: uppercase;
    color: #0f0d0e;
    font-size: 20px;
    font-weight: bold;
  }

  .product-description {
    font-size: 15px;
    color: #0f0d0e;
  }

  .product-imgbox {
    display: flex;
    justify-content: center;
  }

  .product-img {
    z-index: 0;
    position: relative;
    top: 0;
  }

  .product-description-link {
    text-decoration: none;
    color: #b59f5b;
  }

  .product-footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 27px;
  }

  .product-prices {
    display: flex;
    flex-direction: column;
  }

  .product-price-old {
    font-size: 14px;
    text-decoration: line-through;
  }

  .product-price {
    font-size: 20px;
    color: #0f0d0e;
    font-weight: bold;
    text-transform: uppercase;
  }

  .product-button {
    background-color: #b59f5b;
    border: none;
    width: 140px;
    height: 48px;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0 0 41px 0;
    margin-top: 64px;
    font-weight: bold;
    margin-left: 5%;
    margin-right: 5%;
  }
  .social-networks {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    background-color: #f4f7f6;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 31px;
  }
  
  .social-icon-pinterest {
    display: inline-block;
    height: 25px;
    width: 25px;
    margin-top: 31px;
  }
  
  .social-icon-facebook {
    display: inline-block;
    max-width: 25px;
    max-height: 25px;
    margin-top: 31px;
  }
  
  .social-icon-tumblr {
    display: inline-block;
    height: 25px;
    width: 25px;
    margin-top: 31px;
  }
  
  .social-icon-Twitter {
    display: inline-block;
    height: 25px;
    width: 25px;
    margin-top: 31px;
  }
  
  .social-icon-instagram {
    display: inline-block;
    height: 25px;
    width: 25px;
    margin-top: 31px;
  }
  
  .social-link {
    text-decoration: none;
    margin-right: 28px;
  }
  
  .copyright-link {
    margin-left: auto;
    margin-right: auto;
    margin-top: 77px;
  }
  
  .link {
    color: #999999;
    font-size: 12px;
    text-decoration: none;
  }